<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            id="fr.lip6.move.its.pnmcc.contribution1">
         <menu
               label="PN MCC"
               path="additions"
               id="fr.lip6.move.its.pnmcc.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Prepare run"
               class="fr.lip6.move.its.pnmcc.popup.actions.PrepareItsFiles"
               menubarPath="fr.lip6.move.its.pnmcc.menu1/group1"
               enablesFor="*"
               id="fr.lip6.move.its.pnmcc.newAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
