
/* FEUILLE DE STYLE GLOBALE */
/*
Cette page contrôle l'apparence pour toutes les skins.
Les modifications devant s'appliquer à l'apparence Monobook seulement
doivent aller dans [[MediaWiki:Monobook.css]].

Après chaque modification, prière de vérifier cette feuille de style
avec le valideur CSS du W3C :
http://jigsaw.w3.org/css-validator/validator?uri=http://fr.wikipedia.org/w/index.php?title=MediaWiki:Common.css%26action=raw%26ctype=text/css&usermedium=all&warning=2

*/

/* @IMPORT */
/* Impérativement en début de fichier */
@import "//fr.wikipedia.org/w/index.php?title=MediaWiki:Common.css/taxobox_v3.css&action=raw&ctype=text/css";

html {
	background-color: white;
	color: black;
	font-family: Arial, Lucida Grande, sans-serif;
	font-size: 1em;
	line-height: 1.25em;
}


a.sidetitle    { font-weight: normal; background: transparent; color: #BCC9D6; text-decoration: none } 
a.sidetitle:link		{ font-weight: normal; background: transparent; color: #BCC9D6; text-decoration: none } 
a.sidetitle:visited	{ font-weight: normal; background: transparent; color: #BCC9D6; text-decoration: none; } 
a.sidetitle:active	{ font-weight: normal; background: transparent; color: #BCC9D6; text-decoration: none; } 
a.sidetitle:hover		{ font-weight: normal; background-color: #BCC9D6; color: #667F9E; text-decoration: none; }

.sidetitle	{ color: #BCC9D6; font-weight: 500; font-size: 15px; line-height: 140%; text-align: center; margin-top: 0px; padding: 2px }

.modDate	{ color: #BCC9D6; font-weight: 500; font-size: 10px; line-height: 350%; text-align: center; vertical-align:text-bottom; margin-top: 30px; padding: 2px }



/** CHANGEMENT DE L'INTERFACE PAR DÉFAUT **/

/* MODIFICATIONS RÉCENTES */

/* Nombre de caractères modifiés dans les modifications récentes et la liste de suivi. */
.mw-plusminus-pos { color:#00B000 }
.mw-plusminus-neg { color:#FF2050 }
.mw-plusminus-null { color:#999 }

/* Aspect des tags de filtrage dans les modifications récentes */
.mw-tag-markers {
 font-family:sans-serif;
 font-style:italic;
 font-size:90%;
}

/* Curseur sur les flêches de la liste de suivie améliorée et des RC */
.mw-enhancedchanges-arrow {cursor:pointer}

/* REDIRECTIONS */

/* Redirections sur [[Special:Allpages]] et [[Special:Watchlist/edit]]. */
.allpagesredirect a, .watchlistredir a {
 color:#0B0;
 font-style:italic;
}

/* HISTORIQUE ET PAGES LIÉES */

/* Révisions dans l'historique et "(← liens)" dans les pages liées. */
.history-size, .mw-whatlinkshere-tools { font-size:80% }

/* TITRES */

/* affichage des coordonnées géo à côté du titre, pour tous les skins */
#coordinates-title {
font-size: 90%;
margin-right: 1em;
margin-top: 1em;
float: right;
}
#coordinates-title img {
vertical-align: middle;
}

/* Décoration des titres de sous-chapitre. */
h1.firstHeading {
overflow: visible; /* bug de rendu si icône de titre ou coordonnées déplacées dans le titre */
}
h1, h2 {padding-top:0.65em;} /* monobookocentré */
h3 {padding-top:0.6em; border-bottom:dotted 1px #AAA } /* monobookocentré */
h4, h5, h6 {padding-top:0.55em; border-bottom:dotted 1px #DDD } /* monobookocentré */

/* Sous-titre ([[Modèle:Sous-titre]]) */
h1 #sous_titre_h1 {
display:block;
font-size: 0.7em;
line-height: 1.3em;
margin: 0.2em 0 0 0.5em;
}

/* Titres de sections modifiés par JS */
.modifiedSectionTitle .editsection {
  float: none;
  font-size: x-small;
}
.modifiedSectionTitle .mw-headline {
  margin-right: 0.3em;
}

/* */
.italique   { font-style:italic; }
.italique i { font-style:normal; }

/* BALISES SOURCE, PRE, CODE */

code { background:transparent } /* monobookocentré */

pre { overflow-x:auto; }

/* Exception pour l'espace de nom MediaWiki (NS 8) pour les fichiers *.js et *.css */
.ns-8 pre { overflow-x:visible; }

/* ABBR ET BALISE ABBR discrète */

abbr {
color: inherit;
}
abbr.abbr {
border-bottom: 0;
}
a abbr {
cursor:inherit;
}

/* DFN (instance d'un terme défini) */
dfn {
font-style: normal;
font-weight: bold;
}
i > dfn {
font-style: italic;
}

/* [[Modèle:Nobr]] */
.nowrap {
white-space: nowrap;
}

/* Page [[Spécial:Modifications récentes]], voir [[MediaWiki:Recentchangestext]] */
.rcoptions {
  clear: both;
  margin: 0 0 2px 0;
  padding:0 0.5em;
  border:1px solid #DDDDF7;
  border-left:10px solid #DDDDF7;
  background-color: #FFFFFF;
}   /* monobookocentré */
fieldset.rcoptions { padding-bottom:0.5em; }

/* Apparence de [[MediaWiki:Noarticletext]] */
div.noarticletext {
  background: #F9F9F9;
  margin-top:1em;
  width:auto;
  padding: 5px;
  border: 1px solid #aaa;
  border-right: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
}

/* Formulaire des pages d'historique */
#mw-history-search {
border-color: #aaa;
}

/* DAMIER SUR LES IMAGES */

/* Place un damier de vérification en arrière-plan dans la page de description
   de l'image, visible seulement en cas d'image transparente ou semi-transparente. */
#file img { background:url("//upload.wikimedia.org/wikipedia/commons/5/5d/Checker-16x16.png") }

/* VERSION IMPRIMABLE */

/* Ne pas afficher le lien complet des URL externes sur la version imprimable
   (à faire manuellement, grâce à class="plainlinksneverexpand"). */
.plainlinksneverexpand a.external.text:after {
 display:none !important;
}
.plainlinksneverexpand a.external.autonumber:after {
 display:none !important;
}
/* réserver un contenu à l'impression (display rétabli dans MediaWiki:Print.css) */
/* utilisé pour les entrées de ref group */
.printcssonly {
display:none;
}

/* Supprimer la flèche de lien externe pour ces liens. */
.plainlinksneverexpand a {
 background:none !important;
 padding:0 !important;
}

/* TALKPAGEHEADER : message-système des sous-pages de discussion */
/* classe .fieldsetlike etc. pour permettre la réutilisation de ces styles */

#talkpageheader, .fieldsetlike {
text-align: center;
border: 1px solid #aaa;
margin: 1em 0;
padding: 0 0 0.4em 0;
}
#talkpageheader #talkpageheadertitle, .fieldsetlike .legendlike {
margin-top: -0.8em;
}
#talkpageheader #talkpageheadertitletext, .fieldsetlike .legendtextlike {
padding: 0 8px;
background: white;
}
#talkpageheader ul, .fieldsetlike ul {
list-style-type: none;
margin: 0;
}
#talkpageheader li, .fieldsetlike li {
display: inline;
}
#talkpageheader li {
color: #707070;
}

/* CATEGORIES CACHEES */

#mw-hidden-catlinks {
font-size: 0.85em;
}

/** MODÈLES ET PERSONNALISATION **/

/* HOMONYMIE */

/* Classe servant à personnaliser l'apparence des liens vers les pages d'homonymie. */
.homonymie {
 padding-left:2em;
 padding-bottom:.5em;
 margin-bottom:.5em;
 margin-top:-0.6em;
 background:white;
 font-style:italic;
 border-bottom:1px #AAA solid;
} /* monobookocentré */


/* ARTICLE DÉTAILLÉ */

/* Classes pour les modèles basés sur [[modèle:Article détaillé]] ainsi que [[Modèle:Article principal]]
   , [[Modèle:Galerie détaillée]] et [[Modèle:...]] ;
   style décidé dans [[Wikipédia:Prise de décision/Unification des modèles : article détaillé et Loupe]]. */
.detail, .details {
margin:0 0 .7em 2em;
border:solid #E7E7E7;
border-width:1px 0;
text-align:left;
font-size:95%;
background:#FDFDFD url("//upload.wikimedia.org/wikipedia/commons/thumb/6/61/Searchtool.svg/15px-Searchtool.svg.png") no-repeat left center;
padding:1px 4px 1px 24px;
overflow:hidden;
}
.detail.commons {
background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Commons-logo.svg/15px-Commons-logo.svg.png");
background-repeat:no-repeat;
}
.detail.principal {
background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Nuvola_apps_download_manager2-70%25.svg/15px-Nuvola_apps_download_manager2-70%25.svg.png");
background-repeat:no-repeat;
}
.detail.section {
background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Fairytale_waring.png/15px-Fairytale_waring.png");
background-repeat:no-repeat;
}

/* ICÔNES */

/* Icônes en tête de pages pour les AdQ, les BA, etc. */
.portlet li, li.IW {
 list-style-image:url("//upload.wikimedia.org/wikipedia/en/1/18/Monobook-bullet.png")
}
li.AdQ { list-style-image:url("//upload.wikimedia.org/wikipedia/commons/4/4c/Icone_AdQ.png") }
li.BA { list-style-image:url("//upload.wikimedia.org/wikipedia/commons/8/86/Icone_BA.png") }
li.PdQ { list-style-image:url("//upload.wikimedia.org/wikipedia/commons/4/4c/Icone_AdQ.png") }

/* Pour permettre l'affichage des images générées par l'extension ImageMap en inline.
   Il n'existe pour l'instant pas de paramètre dans l'extension pour le faire. Copié depuis WP:de */
.imagemap-inline div {
 display: inline;
}

/* Classe pour afficher un icône de haut-parleur à gauche des liens audio. Utilisé par [[Modèle:Audio]], importé de WP:en */
.audio a {
    background: url("//upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Loudspeaker.svg/11px-Loudspeaker.svg.png") center left no-repeat !important;
    padding-left: 16px !important;
    padding-right: 0 !important;
}

/* ÉCRITURES NON LATINES */

/* Taille et famille des polices pour les écritures non-latines ; voir aussi [[modèle:Lang]]. */

/* Écriture grecque, pour les langues : grec moderne (monotonique), grec ancien (polytonique) */
:lang(grc), :lang(el) {
 font-family:"Arial Unicode MS", "DejaVu Sans", Athena, Gentium, "Palatino Linotype", "Lucida Sans Unicode", "Lucida Grande", Code2000, sans-serif;
}

/* écriture thaïe, pour la langue : thaï */
:lang(th) {
 font-family:"Segoe UI", Tahoma, sans-serif; 
}

/* CHIFFRES ROMAINS */

/* Affichage des chiffres romains, voir [[modèle:Rom]] ou [[modèle:Romain]]. */
.romain {
 text-transform:lowercase;
 font-variant:small-caps;
}

/* TAILLE DES FORMULES DE MATHS */

.texhtml {
  font-size:120%;
}

/* ALIGNEMENT DES FORMULES DE MATH */

img.tex.center {
width: auto;
display: block;
margin: 0 auto;
}
img.tex.left {
display: block;
margin-left: 1.6em;
}

/* COULEUR DES LIENS */

/* Pour changer la couleur d'un lien sur un fond coloré sombre :
   - <div class="lienClair"></div>
   Voir notamment [[Portail:Biologie/Les articles]] */

/* Lien clair */
.lienClair a {
 color:#A0A0A0;
} /* et la charte graphique ? */
.lienClair a:hover {
 color:#A0A0A0;
 text-decoration:underline;
} 
.lienClair a:visited {
 color:#B9B9B9;
}

/* Lien vers une ébauche */
a.stub {
 color:#339900;
}
a.stub:visited {
 color:#336600;
}

/** NOTES, RÉFÉRENCES, BIBLIOGRAPHIE **/

/* éviter une trop grande réduction
de taille de caractères 
dans certaines configurations */ 
.references small {
font-size: 1em !important;
}

/* CROCHETS */

/* Par défaut, cacher les crochets autour des notes. */
.cite_crochet { display:none }

/* Pour que « Note 1 » ne soit ni sécable, ni en gras, ni en italique */
sup.reference {
 font-weight: normal;
 font-style: normal;
 white-space: nowrap;
}

/* Interligne */

/* Éviter d'obtenir un interlignage de taille variable. */
.reference, .exposant { 
 vertical-align:text-top;
 position:relative;
 font-size:.8em;
 top:-5px;
}
.reference {
 padding-left:1px;
}

ol.references > li{
text-align:left;
}

small.cachelinks, small.cachelinks a {
  color: #36B
}

/* https://bugs.webkit.org/show_bug.cgi?id=14691 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  ol.references sup.exposant { position: static; vertical-align: super; }
}

/* Numérotations différentes des appels de notes */
.references-small.lower-alpha ol {list-style-type: lower-alpha;}
.references-small.lower-greek ol {list-style-type: lower-greek;}
.references-small.decimal ol {list-style-type: decimal;}


/* MISE EN ÉVIDENCE */

/* Mise en surbrillance de la note ou de l'ouvrage de référence cliqué
   pour faciliter la navigation (de en.wikipedia). */

/* Contenu de la note */
ol.references > li:target, .ouvrage:target { background:#DEF }

/* Renvoi */
sup.reference:target { background:#DEF }
/*

/* RÉFÉRENCE NÉCESSAIRE */

/* Style des modèles [[modèle:Référence nécessaire]] et [[modèle:Citation nécessaire]]. */
span.need_ref { border-bottom:1px solid #AAA }

div.need_ref {
 border:1px solid #AAA;
 padding:.5em;
}

/* Référence présente */
span.ref:hover { border-bottom:1px solid #AAA }

/* NORMES BIBLIOGRAPHIQUES */

/* Mode d'affichage par défaut des données dans l'espace référence. */
.BibList { display:block }
.WikiNorme, .BibTeX, .ISBD, .ISO690, .specialBib { display:none }

/* STYLE DE { , } ENTRE LES RÉFÉRENCES */
.cite_virgule { padding-left:0; padding-right:1px; }

/** BOÎTES ET MESSAGES **/

.boite-grise {
  background:#F9F9F9;
  border:1px solid #aaa;
  padding:5px;
}
.boite-a-droite {
  clear:right;
  float:right;
  margin:1em 0 1em 1em;
  width:250px;
}

/* BANDEAUX D'AVERTISSEMENT */
/* Style des bandeaux principaux, par le [[modèle : Méta bandeau d'avertissement]] :
    PDD 1 : [[Wikipédia:Prise de décision/Changement de style des messages d'avertissement]]
   Style des bandeaux de section :
    PDD 2 : [[Wikipédia:Prise de décision/Unification des modèles : article détaillé et Loupe]]
*/

.bandeau-niveau-grave       { border-color: #aa0044; background-color: #ffcccc; } /* PDD 1 */
.bandeau-niveau-modere      { border-color: #ff8822; background-color: #ffeedd; } /* PDD 1 */
.bandeau-niveau-ebauche     { border-color: #77ccff; background-color: #fbfbfb; } /* PDD 1 */
.bandeau-niveau-information { border-color: #77ccff; background-color: #fbfbfb; } /* PDD 1 */
.bandeau-niveau-detail      { border-color: #e7e7e7; background-color: #fdfdfd; } /* PDD 2 */

.bandeau { /* monobookocentré */
  text-align: left;
  margin: 8px 10% 12px;
  border-style: solid;
  border-width: 1px 1px 1px 10px;
  padding: 2px 10px;
}
.bandeau table { background-color: transparent }
.bandeau-icone { vertical-align: middle; text-align: center; min-width: 45px; padding-right: 10px }
.bandeau-titre { font-size: 1em;   line-height: 1.4em; margin-bottom: 0.5em }
.bandeau-texte { font-size: 0.9em; line-height: 1.2em }

div.bandeau-section {       /* Pour le [[modèle : Article détaillé]] et autres */
  margin:0 0 .7em 2em;
  border-style:solid;
  border-width:1px 0;
  text-align:left;
  font-size:95%;
  overflow:hidden;
  padding:2px 0 1px 4px;
  display:block;
}
 
.indentation,    /* pas d’image correspondante */
.loupe,          /* loupe, voir le [[modèle : Article détaillé]] */
.general,        /* flèche pour le [[modèle : Article principal]] */
.accessibilite,  /* symbole handicap, pour le [[modèle : Encart]] */
.incomplet,      /* cône de chantier pour le [[modèle : …]] */
.sources,        /* livre ouvert du [[modèle : Section à sourcer]] */
.important,      /* triangle rouge : mise en garde   */
.en-travaux,     /* triangle jaune : en construction */
.wikispecies, .metawiki, .wikiversity, .wikipedia, .wikibooks, .wikinews, .wikiquote, .wikisource, .commons, .wikimedia, .wiktionary {
  background-repeat:no-repeat;
  line-height: 1.5em;
  text-indent:23px;
  display:inline-block;
}
 
.loupe         {
  background-image:url("//upload.wikimedia.org/wikipedia/commons/thumb/6/61/Searchtool.svg/15px-Searchtool.svg.png");
  background-position:2px 3px; }
.general       {
  background-image:url("//upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Nuvola_apps_download_manager2-70%25.svg/15px-Nuvola_apps_download_manager2-70%25.svg.png");
  background-position:2px 3px; }
.accessibilite {
  background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/4/44/Gnome-preferences-desktop-accessibility.svg/18px-Gnome-preferences-desktop-accessibility.svg.png");
  background-position:2px 0; }
.incomplet     {
  background-image:url("//upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Fairytale_waring.png/16px-Fairytale_waring.png");
  background-position:2px 3px; }
.sources       {
  background-image:url("//upload.wikimedia.org/wikipedia/commons/thumb/6/64/Question_book-4.svg/20px-Question_book-4.svg.png");
  background-position:1px 4px; }
.important     {
  background-image:url("//upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Nuvola_apps_important.svg/19px-Nuvola_apps_important.svg.png");
  background-position:1px 2px; }
.en-travaux    {
  background-image:url("//upload.wikimedia.org/wikipedia/commons/thumb/8/81/Under_contruction_icon-yellow.svg/20px-Under_contruction_icon-yellow.svg.png");
  background-position:1px 2px; }
.wikispecies   {
  background-image:url("//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Wikispecies-logo.svg/17px-Wikispecies-logo.svg.png");
  background-position:1px 0; }
.wikisource    {
  background-image:url("//upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/17px-Wikisource-logo.svg.png");
  background-position:1px 1px; }
.wikipedia     {
  background-image:url("//upload.wikimedia.org/wikipedia/commons/thumb/6/63/Wikipedia-logo.png/19px-Wikipedia-logo.png");
  background-position:1px 0; }
.wikibooks     {
  background-image:url("//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikibooks-logo.svg/19px-Wikibooks-logo.svg.png");
  background-position:1px 1px; }
.metawiki      {
  background-image:url("//upload.wikimedia.org/wikipedia/commons/thumb/7/75/Wikimedia_Community_Logo.svg/18px-Wikimedia_Community_Logo.svg.png");
  background-position:1px 1px; }
.wikiversity   {
  background-image:url("//upload.wikimedia.org/wikipedia/commons/thumb/9/91/Wikiversity-logo.svg/20px-Wikiversity-logo.svg.png");
  background-position:0 2px; }
.wiktionary    {
  background-image:url("//upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Wiktprintable_without_text.svg/20px-Wiktprintable_without_text.svg.png");
  background-position:0 1px; }
.wikinews      {
  background-image:url("//upload.wikimedia.org/wikipedia/commons/thumb/2/24/Wikinews-logo.svg/20px-Wikinews-logo.svg.png");
  background-position:0 5px; }
.wikiquote     {
  background-image:url("//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/16px-Wikiquote-logo.svg.png");
  background-position:2px 1px; }
.commons       { 
  background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Commons-logo.svg/14px-Commons-logo.svg.png");
  background-position:3px 0; }
.wikimedia     { 
  background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/8/81/Wikimedia-logo.svg/20px-Wikimedia-logo.svg.png");
  background-position:0 0; }

/* MESSAGES D'ALERTE */

/* Styles par défaut pour les bandeaux en haut des articles. Syntaxe :
   Styles décidés suite à [[Projet:Charte graphique/Harmonisation des messages d'avertissement]]
   et [[Wikipédia:Prise de décision/Harmonisation des messages d'avertissement]]. */
/* Classe pour toutes les alertes. */
.alerte { /* monobookocentré */
 padding:.11em;
 background:#FFD;
 margin-bottom:.4em;
 font-style:italic;
}

/* Classe supplémentaire pour les alertes graves. */
.grave { border:1px solid #F96 } /* monobookocentré */

/* MESSAGEBOX */

/* Styles des « messagebox » standard. Utilisation : 
* class="messagebox" : voir [[modèle:Messagebox]].
* class="messagebox merge" : inutilisé ?
* class="messagebox standard-talk" pour les bandeaux en page de discussion des aricles (exemple : [[modèle:Traduit de]])
*/
.messagebox { /* monobookocentré */
 border:1px solid #AAA;
 background:#F9F9F9;
 width:80%;
 margin:0 auto 1em auto;
 padding:.2em;
 text-align:justify;
}

.messagebox.merge { /* monobookocentré */
 border:1px solid #CF9FFF;
 background:#F5EDF5;
 text-align:center;
}

.messagebox.standard-talk { /* monobookocentré */
 border:1px solid #C0C090;
 background:#F8EABA;
}

.vectorbox {
 width:85%;
 background:#f5faff; 
 border:1px solid #a7d7f9; 
 -moz-border-radius: 10px; 
 -webkit-border-radius: 10px; 
 border-radius:10px;
 margin:0 auto 1em auto; /* centre la box */ 
}

/* BANDEAUX DE PORTAIL */
/* style par défaut des bandeaux de portail décidés sur
   Wikipédia:Prise de décision/Bandeaux de portails
   Utilisé dans Modèle:Méta lien vers portails et Modèle:Portail
*/
#bandeau-portail {
  border: solid #AAAAAA 1px;
  padding: 4px;
  background-color: #F9F9F9;
  text-align: center;
  margin-top: 1em;
  margin-left: 0;
  clear: both;
}

#liste-portail {
  padding: 4px;
  margin-left: 0;
  clear: both;
}

#liste-portail li {display: inline}
#bandeau-portail li {display: inline}
.bandeau-portail-element {white-space: nowrap; margin: auto 1.5em}
.bandeau-portail-icone {margin-right: 0.5em}
.bandeau-portail-texte {font-weight: bold}

/* BOÎTES POUR EXEMPLES */

/* Boîtes utiles sur les pages d'aide. Voir par exemple [[Aide:Note#Notes à appel unique]]. */
.exemple { 
 margin:.5em;
 padding:.5em;
 border:dashed 1px #ADD8E6;
 background:#FFF;
}

/* BOÎTES D'AVANCEMENT */

/* Pour les boites d'avancement, voir [[modèle:Avancement]]. */
.avance_boite {
 position:relative;
 margin:0;
 padding:0;
 width:100px;
 height:16px;
 background:#D3D3D3;
 border:solid 1px gray;
}

.avance_barre {
 position:relative;
 margin:0;
 padding:0;
 height:100%;
 background:#A0A0FF;
 border:0;
 vertical-align:middle;
}

.avance_texte {
 position:absolute;
 top:50%;
 left:0;
 width:100px;
 height:100%;
 padding:0;
 border:0;
 margin:0;
 margin-top:-0.5em;
 text-align:center;
 font-size:14px;
 line-height:1em;
}

/* MESSAGES SYSTÈME */

/* Standardisation de quelques messages systèmes :
 * class="mw-alerte" : bandeaux d'alerte comme [[MediaWiki:Editinginterface]].
 * class="mw-toolbox" : boîtes à outils comme sur [[MediaWiki:Sp-contributions-footer]].
 */

/* Bandeau jaune / rouge en cas de retard de la base de données. */
div.mw-lag-warn-normal, div.mw-lag-warn-high {
 text-align:left !important;
 width:50% !important;
}

/* suppression du message avertissant du lag de 1 seconde dans la liste de suivi*/
.mw-lag-warn-normal {
 display:none;
}

/* Messages d'alerte */
.mw-alerte {
 width:100%;
 clear:both;
 background:#FAEBD7;
 border:2px solid #FF8C00;
}

/* Boîtes à outils */
.mw-toolbox { /* monobookocentré */
 font-size:90%;
 background:#F8F8F8;
 border:1px solid #B8B8B8;
 padding:.25em 1em .25em 1em;
 clear:both;
}

/* BOÎTES DÉROULANTES */

/* Styles des boîtes déroulantes, voir [[Modèle:Boîte déroulante/Documentation]]. */
div.NavFrame {
 margin:0;
 padding:2px;
 border:1px #AAA;
 text-align:center;
 border-collapse:collapse;
 font-size:95%;
} /* monobookocentré début */

div.NavFrame + div.NavFrame {
 border-top-style:hidden;
}

div.NavPic {
 background:#FFF;
 margin:0;
 padding:2px;
 float:left;
}

div.NavFrame div.NavHead {
 height:1.6em;
 font-weight:bold;
 font-size:100%;
 background:#EFEFEF;
}

div.NavFrame p,
div.NavFrame div.NavContent,
div.NavFrame div.NavContent p { font-size:100% }

div.NavEnd {
 margin:0;
 padding:0;
 line-height:1px;
 clear:both;
} /* monobookocentré fin */

/* Styles de [[Modèle:Méta palette de navigation]] */
table.navbox { 
 background:#F9F9F9;
 border:1px solid #AAA;
 clear:both;
 font-size:90%;
 margin:1em 0 0;
 padding:2px;
 text-align:center;
 width:100%;
}
 
table.navbox th { 
 background:#CCF;
 padding-left:1em;
 padding-right:1em;
}
 
table.navbox td.group { 
 background:#DDF;
 vertical-align:middle;
 width:150px;
 padding-left:1em;
 padding-right:1em;
 font-weight: bold;
}
 
table.navbox td.list { 
 text-align:left
}
 
table.navbox td.even { 
 background:#EEF
}
 
table.navbox td.below { 
 background:#DDF;
 vertical-align:middle;
 padding-left:1em;
 padding-right:1em;
}

/* Modèle de palettes groupées, [[Modèle:Palette]]  */ 

div.navbox_group {
border: 1px solid #aaaaaa;
margin-top: 15px;
}
div.navbox_group table.navbox {
border: 0;
margin: 0em 0px 0px;
}

/* Liens de masquage/affichage : [[Modèle:Boîte déroulante]] et [[Modèle:Méta palette de navigation]] */ 

.navboxToggle, .NavToggle {
  font-size:90%;
  font-weight:normal;
  float:right !important;
  min-width: 6em;
}

/* Fin styles de [[Modèle:Méta palette de navigation]] */

/* Styles pour [[Modèle:Animation]] */

.diaporamaControl img {
   background-color:white;
   border:1px solid #DDDDDD;
}
 
.diaporamaControl .ScrollBar { 
   background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Round_Edge.png/5px-Round_Edge.png"); 
   background-position:top; 
   background-repeat:repeat-x;
}
 
.diaporamaControl .ScrollBarContainer { 
   background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Round_Edge_bis.png/5px-Round_Edge_bis.png"); 
   background-position:top; 
   background-repeat:repeat-x;
}
 
.diaporama .magnify { 
   display:none; 
}
 
.diaporama select {
   font-size: 22px;
}

/* Fin styles pour [[Modèle:Animation]] */

/** TABLEAUX ET INFOBOX **/

/* WIKITABLE */

/* Classe pour tableaux standards, légèrement grisés. Syntaxe : {| class="wikitable" */

/* Tableaux selon la charte graphique. Ils sont centrés par défaut. */
table.wikitable th, table.wikitable td {
  padding:0.3em;
}
.wikitable th[scope=row] {
  text-align: left;
}

/* Alignement du tableau : flottant à droite ou à gauche, ou centré. On peut aligner à droite ou à gauche
   sans flottement en ajoutant le [[modèle:clr]] en bas du tableau, ou en précisant style="float:none"
   dans l'en-tête du tableau. */
table.gauche, table.left {
 float:left;
 margin:0 1em 1em 0;
}

table.droite, table.right {
 float:right;
 margin:0 0 1em 1em;
}

table.centre, table.center {
 margin:1em auto;
}

/* Pour les cas où le code de l'article contienne un paramètre align de valeur center */

table.wikitable[align=center] {margin:1em auto;}

/* ALTERNANCE */

/* Classes permettant d'alterner les couleurs de ligne
   dans les tableaux selon le nombre de lignes d'en-tête :
   .alternance si nombre impair
   .alternance2 si nombre pair.
 
   .odd est un be kind to IE<9 qui n'implémente pas
   le sélecteur :nth-child, appliquée via Common.js

   .sortable : les tableaux triables nécessitent d'inverser
   l'alternance.

*/

table.alternance tr, .alternance.wikitable th[scope="row"] {
background: #fff;
}
table.alternance tr:nth-child(odd), .alternance.wikitable tr:nth-child(odd) th[scope="row"] {
background: #E9E9E9;
}
table.alternance tr.odd, table.alternance.wikitable tr.odd th[scope="row"] {
background: #E9E9E9;
}
table.alternance2 tr, table.alternance.sortable tr {
background: #E9E9E9;
}
table.alternance2 tr:nth-child(odd), table.alternance.sortable tr:nth-child(2n+1) {
background: #fff;
}
table.alternance2 tr.odd, table.alternance.sortable tr.odd {
background: #fff;
}

/* INFOBOX */

/* Style commun aux infobox ; utiliser : 
   * class="infobox" dans l'en-tête.
   * class="infoboximage" pour l'image et sa description
   * class="infoboxsoustitre" pour le sous-titre.
   Voir [[Aide:Infobox]] et [[Projet:InfoBox]]. */
.infobox {
 background:#EEE; /* couleur correspondant aux titres / colonne de gauche, th */
 color:#000;
 float:right;
 clear:right;
 font-size:95%;
 border-collapse:collapse;
 margin:0 0 .5em 1em;
 width:250px;
} /* monobookocentré debut */

.infobox caption {
 background:#C0C0C0;
 border-left:1px solid #AAA;
 border-top:1px solid #AAA;
 border-right:1px solid #AAA;
 padding:.2em;
 margin-left:.57em;
 font-weight:bolder;
 text-align:center;
 color:#FFF;
 font-size:160%;
}

.infobox th, .infobox td {
 vertical-align:middle;
 border:1px solid #AAA;
 padding:.2em .2em .2em .5em;
}

.infobox td {
 text-align:center;
 background:#F9F9F9;
}

.infobox th {
 font-weight:normal;
 text-align:left;
}

.infobox .infoboximage { /* emplacement pour les photos et une description */
 background:#FFF;
 padding:0;
 margin-top:0;
 color:#000;
 text-align:center;
}

.infobox .infoboxsoustitre { /* sous-titre */
 color:#000;
 font-weight:bold;
 font-size:115%;
 line-height:2;
 text-align:center;
}

.infobox dl { clear:both }
.infobox dt {
 float:left;
 clear:left;
 width:35%;
}
.infobox dd { margin-left:40% } /* monobookocentré fin */

/* TREEVIEW */
/* 
   Styles pour listes imbriqués formant une arborescence,
   En particulier utilisés dans le [[modèle : Arbre début]]
*/
.treeview ul {
  padding:0;
  margin:0;
}
.treeview li {
  padding:0;
  margin:0;
  list-style-type:none;
  list-style-image:none;
  zoom:1; /* BE KIND TO IE6 */
}
.treeview li li {
  background: url("//upload.wikimedia.org/wikipedia/commons/f/f2/Treeview-grey-line.png") no-repeat 0 -2981px;
  padding-left:20px;
  text-indent:0.3em;
}
 
.treeview li li.lastline                        { background-position:0 -5971px; }
.treeview li.emptyline > ul                     { margin-left:-1px; }
.treeview li.emptyline > ul > li:first-child    { background-position:0 9px; }

/** PAGES PARTICULIÈRES **/

/* Boîte Special:Userlogin */
form#userlogin {
 padding:1em 1em .7em 1em;
 background:#FFFFE6;
 border:2px solid #FC6;
 color:#000;
 margin-right:2em;
} /* monobookocentré */

form#userlogin table {
 background:#ffffe6;
 color:#000;
} /* monobookocentré */

/* ACCUEILS */

 /* ACCUEIL PRINCIPAL */

  /* Fond blanc de l'accueil principal */
  body.page-Wikipédia_Accueil_principal #content {
       background-color: white;
  }
  body.page-Wikipédia_Accueil_principal #p-cactions li a {
       background-color: white;
  }

  /* Retire le nom de la page d'accueil */
  body.action-view.page-Wikipédia_Accueil_principal #firstHeading {
       position: absolute;
       top: -5000px;
  }

  /* bandeau accueil */

  #interwiki-listecomplete {
      font-weight: bold;
  }

  #accueil_titre {
      margin-top:1.5em;
  } /* monobookocentré */

 /* ACCUEIL DE LA COMMUNAUTÉ */

  /* Fond blanc de l'accueil de la communauté */
  body.page-Wikipédia_Accueil_de_la_communauté #content {
      background-color:white;
  }
  body.page-Wikipédia_Accueil_de_la_communauté #p-cactions li a {
      background-color:white;
  }

 /* DIVERS */

.globegris {background-image:url("//upload.wikimedia.org/wikipedia/commons/1/10/Wikipedia-logo-v2-200px-transparent.png")}
.assistant {background-image:url("//upload.wikimedia.org/wikipedia/commons/6/67/Nuvola_apps_khelpcenter_25%25.png")}

  .headergris { /* monobookocentré */
      background:#F0F0F0 url("//upload.wikimedia.org/wikipedia/commons/1/1b/Wikibar2.png") no-repeat right;
      margin:0;
      font-size:120%;
      font-weight:bold;
      border:1px solid #a3b0bf; 
      text-align:left;
      color:#000;
      padding:.15em .4em;
  } 

  .cadregris { /* monobookocentré */
      border:1px solid #AAA;
      background:#fcfcfc;
      vertical-align:top;
      padding:7px;
       margin-bottom:.6em;
  }

  .accueil_cadre_lien { /* monobookocentré */
      text-align:right;
      margin-right:.5em;
      font-size:xx-small;
  }

/* MODÈLES DE COORDONNÉES */

/* Voir [[Modèle:Coord]] pour l'utilité de ces classes. 
   Notez que les classes "geo", "longitude", et "latitude" ne sont pas simplement des styles 
   mais servent aussi à l'export au Geo microformat, il ne faut pas les renommer. */
.geo-default { display:inline }
.geo-nondefault { display:none }
.geo-dms { display:inline }
.geo-dec { display:inline }
.geo-multi-punct { display:none }

.longitude .latitude { white-space:nowrap }

/* This is used for the Geo microformat, but no style is needed for now other than .geo-dec. */
.geo {}

/* TRACÉ DE LIGNES FERROVIAIRES ([[Modèle:3voies]] et cie) */
.tablelignesferroviaires td { white-space: nowrap; }

/************************************************
 ***                Infobox V2                ***
 *** Voir : [[Utilisateur:Antaya/Infobox V2]] ***
 ************************************************/
 
.infobox_v2 { /* monobookocentré debut */
 background: #f9f9f9;
 color: #000;
 font-size:90%;
 line-height:1.1em; 
 float:right;
 clear:right;
 margin:0 0 .5em 1em; /* haut droite bas gauche */
 width:300px;
 border: 1px solid #aaa;
 padding: 0.1em;
}
 
.infobox_v2 th {
 vertical-align:super;
 text-align:left;
}
 
.infobox_v2 .entete {
 height:45px;
 vertical-align:middle;
 text-align:center;
 font-size:150%; 
 font-weight:bolder;
 line-height:1.2em;
 color:#000
}

.infobox_v2 .media { /* css V2 pour [[Modèle:Son]], etc. */
height:35px;
vertical-align:middle;
text-align:center;
font-weight:bolder;
color:#000
}

/* graphiques transparents d'entêtes des infobox V2 */
.entete.defaut       {}

.entete.aerostat         {background: url("//upload.wikimedia.org/wikipedia/commons/7/7e/Picto_infobox_aerostat.png")               no-repeat top right;}
.entete.artsmartiauxjap  {background: url("//upload.wikimedia.org/wikipedia/commons/8/81/Picto_infobox_samourai.png")               no-repeat top right;}
.entete.association { background: url("//upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Collaboration_logo_infobox.svg/50px-Collaboration_logo_infobox.svg.png") no-repeat top right; }
.entete.athletisme       {background: url("//upload.wikimedia.org/wikipedia/commons/9/99/Picto_Infobox_Athletisme.png")             no-repeat top right;}
.entete.auteur           {background: url("//upload.wikimedia.org/wikipedia/commons/1/1e/Picto_infobox_auteur.png")                 no-repeat top right;} 
.entete.basket-ball      {background: url("//upload.wikimedia.org/wikipedia/commons/f/f4/Picto_Infobox_Basketball.png")             no-repeat top right;} 
.entete.bd               {background: url("//upload.wikimedia.org/wikipedia/commons/2/2c/Picto_infobox_comicballoon.png")           no-repeat top right;}
.entete.biere            {background: url("//upload.wikimedia.org/wikipedia/commons/0/04/Picto_infobox_beer.png")                   no-repeat top right;}
.entete.canada           {background: url("//upload.wikimedia.org/wikipedia/commons/6/6a/Picto_infobox_Canada.png")                 no-repeat top right;}
.entete.calendrier       {background: url("//upload.wikimedia.org/wikipedia/commons/4/4a/Almanacco.png")                            no-repeat top right;}
.entete.cardinal         {background: url("//upload.wikimedia.org/wikipedia/commons/0/03/Picto_infobox_cardinal.png")               no-repeat top right;}
.entete.chateau          {background: url("//upload.wikimedia.org/wikipedia/commons/5/5c/Picto_infobox_chateau.png")                no-repeat top right;}
.entete.catch            {background: url("//upload.wikimedia.org/wikipedia/commons/7/79/Picto_infobox_catch.png")                  no-repeat top right;}
.entete.cinema           {background: url("//upload.wikimedia.org/wikipedia/commons/e/ea/Picto_infobox_cinema.png")                 no-repeat top right;}
.entete.communication    {background: url("//upload.wikimedia.org/wikipedia/commons/a/a2/Picto_infobox_antenna.png")                no-repeat top right;}
.entete.cyclisme         {background: url("//upload.wikimedia.org/wikipedia/commons/thumb/8/86/Cycling_%28road%29_pictogram.svg/45px-Cycling_%28road%29_pictogram.svg.png") no-repeat top right;}
.entete.disney           {background: url("//upload.wikimedia.org/wikipedia/commons/d/d3/Picto_infobox_Disney.png")                 no-repeat top right;}
.entete.egypte-antique   {background: url("//upload.wikimedia.org/wikipedia/commons/c/cc/Picto_infobox_ancient_Egypt.png")          no-repeat top right;}
.entete.eveque           {background: url("//upload.wikimedia.org/wikipedia/commons/b/b3/Picto_infobox_bishop.png")                 no-repeat top right;}
.entete.football         {background: url("//upload.wikimedia.org/wikipedia/commons/f/f8/Infobox_Football_pictogram.png")           no-repeat top right;}
.entete.grappe           {background: url("//upload.wikimedia.org/wikipedia/commons/6/66/Picto_info_grape.png")                     no-repeat top right;}
.entete.gymnastique      {background: url("//upload.wikimedia.org/wikipedia/commons/thumb/1/12/Gymnastics_%28artistic%29_pictogram.svg/35px-Gymnastics_%28artistic%29_pictogram.svg.png") no-repeat top right;}
.entete.helicoptere      {background: url("//upload.wikimedia.org/wikipedia/commons/f/fa/Picto_infobox_helicopter.png")             no-repeat top right;}
.entete.hockey           {background: url("//upload.wikimedia.org/wikipedia/commons/e/ee/Picto_Infobox_Ice_hockey.png")             no-repeat top right;}
.entete.humain           {background: url("//upload.wikimedia.org/wikipedia/commons/8/82/Picto_infobox_manwoman.png")               no-repeat top right;}
.entete.informatique     {background: url("//upload.wikimedia.org/wikipedia/commons/a/ae/Picto-infoboxinfo.png")                    no-repeat top right;}
.entete.israel-judaisme  {background: url("//upload.wikimedia.org/wikipedia/commons/a/a5/Picto_infobox_israel-judaisme.png")        no-repeat top right;}
.entete.jeu              {background: url("//upload.wikimedia.org/wikipedia/commons/9/90/Picto_infobox_Game.png")                   no-repeat top right;}
.entete.jeu-role         {background: url("//upload.wikimedia.org/wikipedia/commons/d/d8/Picto_infobox_Jeu_de_rôle.png")            no-repeat top right;}
.entete.jeuvideo         {background: url("//upload.wikimedia.org/wikipedia/commons/2/2d/Picto_infobox_gamepad.png")                no-repeat bottom right;}
.entete.macintosh        {background: url("//upload.wikimedia.org/wikipedia/commons/2/20/Picto_infobox_Macintosh.png")              no-repeat top right;}
.entete.map              {background: url("//upload.wikimedia.org/wikipedia/commons/7/7a/Picto_infobox_map.png")                    no-repeat top right;}
.entete.medecine         {background: url("//upload.wikimedia.org/wikipedia/commons/2/23/Picto_infobox_med.png")                    no-repeat top right;}
.entete.mets             {background: url("//upload.wikimedia.org/wikipedia/commons/a/aa/Picto_infobox_mets.png")                   no-repeat top right;}
.entete.montreal-metro   {background: url("//upload.wikimedia.org/wikipedia/fr/b/ba/Picto_infobox_Mtl_metro.png")                   no-repeat top right;}
.entete.montreal-train   {background: url("//upload.wikimedia.org/wikipedia/fr/9/99/Picto_infobox_Mtl_train.png")                   no-repeat top right;}
.entete.moteur-avion     {background: url("//upload.wikimedia.org/wikipedia/commons/9/9c/Picto_Infobox_moteur_d%27avion.png")       no-repeat top right;}
.entete.musee            {background: url("//upload.wikimedia.org/wikipedia/commons/a/ac/Infobox_museum_pictogram.png")             no-repeat top right;}
.entete.musique          {background: url("//upload.wikimedia.org/wikipedia/commons/6/60/Picto_infobox_music.png")                  no-repeat top right;}
.entete.papyrus          {background: url("//upload.wikimedia.org/wikipedia/commons/1/1b/Picto_infobox_papyrus.png")                no-repeat top right;}
.entete.paralympique     {background: url("//upload.wikimedia.org/wikipedia/commons/5/5e/Picto_infobox_Paralympics.png")            no-repeat top right;}
.entete.persofiction     {background: url("//upload.wikimedia.org/wikipedia/commons/3/37/Picto_infobox_masks.png")                  no-repeat top right;}
.entete.personne         {background: url("//upload.wikimedia.org/wikipedia/commons/4/48/Picto_infobox_character.png")               no-repeat top right;}
.entete.planeur          {background: url("//upload.wikimedia.org/wikipedia/commons/5/54/Picto_infobox_planeur.png")                no-repeat top right;}
.entete.presse           {background: url("//upload.wikimedia.org/wikipedia/commons/2/23/Picto_infobox_journal.png")                no-repeat top right;}
.entete.projet           {background: url("//upload.wikimedia.org/wikipedia/commons/c/cb/Picto_infobox_tools.png")                  no-repeat top right;}
.entete.quebec           {background: url("//upload.wikimedia.org/wikipedia/commons/2/21/Picto_infobox_Quebec.png")                 no-repeat top right;}
.entete.recherche        {background: url("//upload.wikimedia.org/wikipedia/commons/c/c1/Picto_infobox_detective.png")              no-repeat top right;}
.entete.rome-antique     {background: url("//upload.wikimedia.org/wikipedia/commons/2/2e/Picto_infobox_Roman_millitary_banner.png") no-repeat top right;}
.entete.route            {background: url("//upload.wikimedia.org/wikipedia/commons/e/e7/Infobox_road_pictogram.png")               no-repeat top right;}
.entete.rugby            {background: url("//upload.wikimedia.org/wikipedia/commons/0/06/Picto_Infobox_Rugby.png")                  no-repeat top right;}
.entete.science-fiction  {background: url("//upload.wikimedia.org/wikipedia/commons/e/ed/Picto_infobox_fliyingsaucer.png")          no-repeat top right;}
.entete.sport            {background: url("//upload.wikimedia.org/wikipedia/commons/8/8e/Picto_infobox_Olympic.png")                no-repeat top right;}
.entete.sport-automobile {background: url("//upload.wikimedia.org/wikipedia/commons/a/af/Picto_infobox_sport_auto.png")             no-repeat top right;}
.entete.television       {background: url("//upload.wikimedia.org/wikipedia/commons/a/a6/Picto_infobox_TV-T%26PC.png")                                     no-repeat top right;}
.entete.timbre           {background: url("//upload.wikimedia.org/wikipedia/commons/b/b3/Picto_infobox_Stamps.png")                 no-repeat top right;}
.entete.train            {background: url("//upload.wikimedia.org/wikipedia/commons/4/44/Picto_infobox_train.png")                  no-repeat top right;}
.entete.union-europeenne {background: url("//upload.wikimedia.org/wikipedia/commons/c/c0/Picto_Infobox_Europe.png")                 no-repeat top right;}
.entete.universite       {background: url("//upload.wikimedia.org/wikipedia/commons/4/42/Picto_infobox_book.png")                   no-repeat top right;}


.media.audio            {background: url("//upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Gnome-speakernotes.png/35px-Gnome-speakernotes.png") no-repeat top left;} 
.media.video            {background: url("//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Tango-video-x-generic.png/35px-Tango-video-x-generic.png") no-repeat top left;}
 
/* {{Infobox/Géolocalisation multiple}} et {{Géolocdual}} */
.img_toogle ul {
     list-style-type:none !important;
     list-style-image:none !important;
     list-style-position:outside !important;
     text-align:center;
}

/* Fin de la phase de test Infobox V2 */ /* monobookocentré fin */

/* infobox_V3 */
/* Entête */
div.infobox_v3 {
padding: 5px;
width: 25em;
background: #F9F9F9;
border: 1px solid #AAA;
clear: right; float: right;
font-size: 0.9em;
line-height: 1.4em;
margin: 0 0 0.5em 1em;
max-width: 325px;
word-wrap: break-word;
}
.infobox_v3 th[scope="row"] {
max-width: 140px;
word-wrap: normal;
}
.infobox_v3 th[scope="col"] {
text-align: center !important;
word-wrap: normal;
}
.infobox_v3 .entete {
font-weight: bold;
text-align: center;
font-size: 1.4em;
line-height: 1.1em;
margin: 0 0 10px 0;
padding: 3px 0;
background-color: #DFEDFF;
border: 2px solid #DFEDFF;
}
.infobox_v3 .entete.icon {
padding: 13px 50px 12px 50px;
background-position: right center !important;
border: 0;
}
.infobox_v3.large .entete.icon {
padding: 13px 10px 12px 10px;
}
/* tumb */
.infobox_v3 .thumbimage {
border: none;
max-width: 99%;
height: auto !important;
}
.infobox_v3 .thumbinner {
background-color: transparent; border: none; padding: 0 !important;
}
.infobox_v3 .thumb, .infobox_v3 .thumbinner {
display: inline;
}
.infobox_v3 .thumbcaption {
display: none;
}
.infobox_v3 .legend {
font-size: 0.9em;
text-align: center;
margin: 5px 0 8px 0;
}
.infobox_v3 .image2 {
text-align: center;
padding: 5px 0;
}
.infobox_v3 .image2 div.thumb {
display:inline-block;
float: none;
margin: 0;
vertical-align: middle;
}
/* tableaux */
.infobox_v3 table {
width: 100%;
margin: 5px 0;
table-layout: fixed;
border-collapse: collapse;
}
.infobox_v3 th[scope=col].double {
text-align: left;
}
.infobox_v3 th[scope=row] {
text-align: left;
vertical-align: super;
padding-right: 10px;
/* width: 30%; */
width: 8em;
}
.infobox_v3 th[scope=row], .infobox_v3 td {
padding-top: 4px;
vertical-align: super;
}
.infobox_v3 th[scope=row].middle {
vertical-align: middle;
}
.infobox_v3.bordered th[scope=row], .infobox_v3.bordered td {
padding-bottom: 4px;
border-top: 1px solid #DFEDFF;
}
.infobox_v3.bordered caption.bordered {
margin: 0 0 -1px 0;
}
.infobox_v3 td.data {
text-align: center;
}
/* titres bloc et caption tableaux */
.infobox_v3 p.bloc, .infobox_v3 p.bordered, .infobox_v3 caption {
font-weight: bold;
text-align: center;
line-height: 1.1em;
margin: 0 0 5px 0;
padding: 5px 10px 5px 5px;
}
.infobox_v3 caption, .infobox_v3 p.bloc {
background: #DFEDFF;
}
.infobox_v3 p.bloc {
margin: 5px 0;
}
.infobox_v3 caption.bordered, .infobox_v3 p.bordered {
border-top: 1px solid #DFEDFF;
border-bottom: 1px solid #DFEDFF;
background: transparent;
}
/* TODO : mettre à jour la classe .hidden générique */
.infobox_v3 caption.hidden {
margin: 0 !important;
padding: 0 !important;
line-height: 1px; /* be kind to IE7*/
font-size: 1px; /* be kind to IE7*/
}
/* Séparateur */
.infobox_v3 .hr {
font-size: 1px;
line-height: 1px; 
margin: 5px 0;
background-color: #DFEDFF;
}
.infobox_v3 .hr.collapse {
margin: 5px 0 -8px 0;
position: relative; /* be kind to IE7*/
}
/* tnavbar */
.infobox_v3 .navbar {
text-align: right !important;
font-size: 0.8em;
margin: 0;
}
.infobox_v3 .navbar .plainlinks {
float: left;
}
/* navigateur */
.infobox_v3 .overflow {
overflow: hidden;
}
.infobox_v3 .bordered.nav, .infobox_v3 .bordered.navbar {
border-bottom: 0 !important;
font-weight: normal !important;
}
.infobox_v3 .prev a, .infobox_v3 .prev_bloc {
background: url("//upload.wikimedia.org/wikipedia/commons/1/13/Arr_l.png") no-repeat left 0.1em;
float: left;
max-width: 44%;
padding: 0 0 0 16px;
}
.infobox_v3 .next a, .infobox_v3 .next_bloc {
background: url("//upload.wikimedia.org/wikipedia/commons/a/ad/Arr_r.png") no-repeat right 0.1em;
float: right;
max-width: 44%;
padding: 0 16px 0 0;
text-align: right;
}
/* Divers */
#article .infobox_v3 ul, #bodyContent .infobox_v3 ul, #mw_content .infobox_v3 ul, #article .infobox_v3 ol, #bodyContent .infobox_v3 ol, #mw_content .infobox_v3 ol {
text-align: left;
}

/* Effets dégradés : utilisables pour un effet ombragé dans les modèles de cadre (par exemple : [[Portail:Montréal/Cadre]]). Ceux-ci ne doivent pas dépasser 43 pixels de hauteur au risque d'y voir un effet indésirable. Note : les effets en PNG ne sont pas résolus par IE6 et moins. Dernière mise à jour : 4 février 2010 */
/* Ombragé, fond transparent (png) */
.degrade       { background-image: url("//upload.wikimedia.org/wikipedia/commons/f/fb/Gradient_43px.png"); background-position:top; background-repeat:repeat-x;}
.degrade_rev   { background-image: url("//upload.wikimedia.org/wikipedia/commons/6/61/Gradient_reversed_43px.png"); background-position:top; background-repeat:repeat-x;}
/* Ombragé, gris fond blanc (jpg) */
.ombre         { background-image: url("//upload.wikimedia.org/wikipedia/commons/e/ea/BGblue1_phixr.jpg"); background-position:top; background-repeat:repeat-x;}
.ombre_pale    { background-image: url("//upload.wikimedia.org/wikipedia/commons/0/06/BGblue2_phixr.jpg"); background-position:top; background-repeat:repeat-x;}
/* Coloré, bleu/rouge fond blanc (jpg) */
.ombre_bl     { background-image: url("//upload.wikimedia.org/wikipedia/commons/3/3e/BGblue1.jpg"); background-position:top; background-repeat:repeat-x;}
.ombre_blpale { background-image: url("//upload.wikimedia.org/wikipedia/commons/f/f7/BGblue2.jpg"); background-position:top; background-repeat:repeat-x;}
.ombre_rg     { background-image: url("//upload.wikimedia.org/wikipedia/commons/3/30/BGred1.jpg"); background-position:top; background-repeat:repeat-x;}
.ombre_rgpale { background-image: url("//upload.wikimedia.org/wikipedia/commons/8/8f/BGred2.jpg"); background-position:top; background-repeat:repeat-x;}

/* Classe de masquage, remplace display:none. Contenu non affiché mais lisible par les lecteurs d'écrans */
.hidden {
position: absolute;
left: 0;
top: -5000px;
width: 1px;
height: 1px;
overflow: hidden;
}
caption.hidden {
position: static;
text-indent: -5000px;
}

/* Bandeau de titres du [[portail : Cinéma]] (page [[Portail:Cinéma/Divers]]) */

.cinema-bandeau {
     background-image: url("//upload.wikimedia.org/wikipedia/commons/6/68/Bandeau_portail_cin%C3%A9ma.png");  
     background-position : left;
     height:35px; 
     background-repeat: no-repeat; 
}

/* Géolocalisation dynamique */
.NavContent .img_toogle {
zoom: 1; /* be kind to IE7 */
clear: both;  /* be kind to IE7 */
}
.img_toogle, .img_toogle * {
margin: 0 !important;
padding: 0 !important;
}
.img_toogle .a_toogle {
display: block;
text-align: center !important;
font-size: 0.95em;
}
.img_toogle .geobox {
position: relative;
}
.img_toogle .geobox +.geobox {
border-top: 5px solid #aaa;
}
.img_toogle .geopoint {
position: absolute;
width: 5px;
height: 5px;
font-size: 1px;
border: 1px solid #000;
background:#F00;
}

/*Gallery */
/* Retour au centrage par défaut des galeries */
ul.gallery {
margin: 2px auto;
text-align: center;
}
div.gallerytext {
text-align: left;
font-size: 89%;
}

/* Modèle:Images */
.ImageGroup .thumbinner {
  margin: 0 auto;
}

/* Be kind to IE6, formulaire d'édition */
#editpage-copywarn{
zoom: 1
}

/* Affichage du [[Projet:Impression]] */
#listeImprimeurs {
text-align: left;
background: white;
display: none;
position:absolute;
left:66%;
padding:0;
margin:0;
border-collapse: collapse;
}

#listeImprimeurs table {
border: 0px solid #AAA;
padding:0;
margin:0;
border-collapse: collapse;
}

#listeImprimeurs table tr {
padding:0;
margin:0;
}

#listeImprimeurs table tr td {
border: 1px solid #AAA;
padding: 3px;
margin:0;
border-collapse: collapse;
width: 220px;
}

/* Pour le [[modèle:Autres projets]] */

.autres-projets ul {
margin: 0;
padding: 0;
}
.autres-projets li {
list-style-type: none;
list-style-image: none;
margin: 0.2em 0;
text-indent: 0; 
padding-left: 24px;
min-height: 20px;
}
.autres-projets .titre {
text-align: center;
margin: 0.2em 0;
}
.autres-projets li a {
font-style: italic;
}

/* Classes pour modèles de sommaires allégés */
.toc_niveau_1 ul ul,
.toc_niveau_2 ul ul ul,
.toc_niveau_3 ul ul ul ul {
display: none;
}

.mw-textarea-protected {
  border:2px solid #FF0000;
  color:navy;
}

/* Réduction de la hauteur de la ligne pour <sup> et <sub> */
sup, sub {
    line-height: 1em;
}

/* Wikimag : [[Modèle:Composition wikimag2]] */
.wikimag_picto_fond {
 background-image: url("//upload.wikimedia.org/wikipedia/commons/3/38/Picto_Petite_%C3%A9toile_lit_le_Wikimag.png");
 background-position:top right;
 background-repeat:no-repeat; }
.wikimag_titre {
 background-image: url("//upload.wikimedia.org/wikipedia/commons/3/31/Wikimag-bg_rounded.png");
 background-position:center left;
 background-repeat:no-repeat; }
/* Sommaire */
.wikimag_toc #toc {
 background-color:transparent;
 border-color:#A3B6CC;
 -moz-border-radius:9px; -webkit-border-radius:9px; border-radius:9px;
 background-image: url("//upload.wikimedia.org/wikipedia/commons/e/e4/Picto_Wikimag_vertical-fr.png");
 background-position:center right;
 background-repeat:no-repeat;
}

.wikimag_toc ul {
 font-style:italic;
 padding-right:16px;
}

/* Correction de la taille du texte dans les balises <syntaxhighlight> et les pages .css/.js
   workaround pour Firefox et Chrome - voir [[bugzilla:26204]] */
div.mw-geshi div,
div.mw-geshi div pre,
span.mw-geshi,
pre.source-css,
pre.source-javascript {
    font-family: monospace, "Courier New" !important; /* cet ordre est volontaire */
}


#toc
{
	border: 1px solid #bba;
	background-color: #f7f8ff;
	padding: 1em;
	font-size: 90%;
	text-align: center;
	width:35em;
}

#toc-header
{
	display: inline;
	padding: 0;
	font-size: 100%;
	font-weight: bold;
}

#toc ul
{
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	text-align: left;
}

.toc3
{
	margin-left: 1em;
}

.toc4
{
	margin-left: 2em;
}
	