<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.lip6.fr/move/TimedAutomata" 
       class = "fr.lip6.move.timedAutomata.TimedAutomataPackage"
       genModel = "fr/lip6/move/TimedAutomata.genmodel" /> 
	
  </extension>



</plugin>
