<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         name="transform"
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="fr.lip6.move.xta.togal.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               label="TA to GAL"
               path="additions"
               id="fr.lip6.move.xta.togal.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Transform to GAL (Essential States)"
               class="fr.lip6.move.xta.togal.popup.actions.XtaToGalPopovaAction"
               menubarPath="fr.lip6.move.xta.togal.menu1/group1"
               enablesFor="+"
               id="fr.lip6.move.xta.togal.newAction">
         </action>
         <action
               label="Transform to GAL (Time unit step)"
               class="fr.lip6.move.xta.togal.popup.actions.XtaToGalOneStepAction"
               menubarPath="fr.lip6.move.xta.togal.menu1/group1"
               enablesFor="+"
               id="fr.lip6.move.xta.togal.newAction">
         </action>
         <action
               label="Transform to GAL (Essential States + Hotbit)"
               class="fr.lip6.move.xta.togal.popup.actions.XtaToGalPopovaHotAction"
               menubarPath="fr.lip6.move.xta.togal.menu1/group1"
               enablesFor="+"
               id="fr.lip6.move.xta.togal.newAction">
         </action>
         <action
               label="Transform to GAL (Time unit step + Hotbit )"
               class="fr.lip6.move.xta.togal.popup.actions.XtaToGalOneStepHotAction"
               menubarPath="fr.lip6.move.xta.togal.menu1/group1"
               enablesFor="+"
               id="fr.lip6.move.xta.togal.newAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
