<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         name="transform"
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="fr.lip6.move.promela.togal.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               label="Promela to GAL"
               path="additions"
               id="fr.lip6.move.promela.togal.menu1">
         </menu>
         <action
               label="Transform to GAL"
               class="fr.lip6.move.promela.togal.popup.actions.PromelaToGalOneStepHotAction"
               menubarPath="fr.lip6.move.promela.togal.menu1/group1"
               enablesFor="+"
               id="fr.lip6.move.promela.togal.newAction">
         </action>
         <action
               class="fr.lip6.move.promela.togal.popup.actions.PromelaToDotAction"
               enablesFor="+"
               id="fr.lip6.move.promela.togal.newAction"
               label="Transform to Dot"
               menubarPath="fr.lip6.move.promela.togal.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
