<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="fr.lip6.move.coloane.core.exports">
      <Export
            class="fr.lip6.move.coloane.extensions.importExportITS.exportToITS.ExportToCompositeITS"
            extension="xml"
            id="fr.lip6.move.coloane.extensions.exportits"
            wizard_id="fr.lip6.move.coloane.wizard.export.its">
         <AcceptedFormalism
               id="ITS Composite">
         </AcceptedFormalism>
      </Export>
   </extension>
   <extension
   		 point="org.eclipse.ui.exportWizards">
      <wizard
            category="fr.lip6.move.coloane.wizard.export.coloane"
            class="fr.lip6.move.coloane.core.ui.wizards.exportmodel.ExportWizard"
            icon="resources/camifile.png"
            id="fr.lip6.move.coloane.wizard.export.its"
            name="ITS XML file">
		 <description>
            Export local models to your file system using CAMI syntax.
         </description>
      </wizard>
   </extension>

</plugin>
