<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="fr.lip6.move.gal.itscl.application"
         name="ITS-tools command line application."
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="fr.lip6.move.gal.itscl.application.Application">
         </run>
      </application>
   </extension>
   <extension
         id="fr.lip6.move.gal.itscl.product"
         name="fr.lip6.move.gal.itscl.product"
         point="org.eclipse.core.runtime.products">
      <product
            application="fr.lip6.move.gal.itscl.Application"
            description="ITS-tools command line."
            name="ITS-tools command line">
      </product>
   </extension>

</plugin>
