<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.xtext.org/example/umldsl/UmlDsl" 
       class = "org.xtext.example.umldsl.umlDsl.UmlDslPackage"
       genModel = "org/xtext/example/umldsl/UmlDsl.genmodel" /> 
	
  </extension>





</plugin>
