name: Java CI with Maven

on: 
 push:
   branches: [ master ]
 repository_dispatch:
   types: [rebuild]

jobs:
  build:
    name: Maven
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Cache Maven packages
      uses: actions/cache@v2
      with:
         path: ~/.m2
         key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
         restore-keys: ${{ runner.os }}-m2
    - name: Build with Maven
      run: cd fr.lip6.move.gal.parent && mvn -T 4 -e generate-sources install && cd -
    - name: Deploy to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@3.7.1
      with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages # The branch the action should deploy to.
          FOLDER: fr.lip6.move.gal.updatesite/target/repository # The folder the action should deploy.
          CLEAN: true # Automatically remove deleted files from the deploy branch
          SINGLE_COMMIT: true 
    - name: Trigger ITS commandline
      uses: mvasigh/dispatch-action@main
      with:
          # You should create a personal access token and store it in your repository
          token: ${{ secrets.NOTIF_PAT }}
          repo: ITS-commandline
          owner: bnslmn
          event_type: rebuild
